header{
    padding: 20px 0;
    background-color: #114d4d ;
    /**/
}

header .logo a{
    text-decoration: none;
    color: #e0e4ce;
    font-size: 20px;
    font-weight: bold;
}

header nav a{
    text-decoration: none;
    font-weight: bold;
    color: #e0e4ce;
    margin-left: 20px;
}

header nav a:hover{
    color: #ffffff;
}