{{ template "base" . }}

{{ define "title" }} RPS - JUGAR {{ end }}

{{ define "content" }}

<section>
    <div class="container">
        <div class="row">
            <div class="col py-5 text-center">
                <h2>{{.Name}} </h2>
                <p class="fw-bold" id="player_score">0</p>
                <div class="d-gird gap-2 card p-3">
                    <button class="btn btn-outline-success">
                        <img src="static/img/rock.png" alt="rock" width="50" class="img-fluid">
                        <span class="fw-bold">Piedra</span>
                    </button>
                    <button class="btn btn-outline-success">
                        <img src="static/img/papel.png" alt="papel" width="50" class="img-fluid">
                        <span class="fw-bold">Papel</span>
                    </button >
                    <button class="btn btn-outline-success">
                        <img src="static/img/tijeras.png" alt="tijeras" width="50" class="img-fluid">
                        <span class="fw-bold">Tijera</span>
                    </button>
                    <button class="btn btn-outline-success">
                        <img src="static/img/lagarto.png" alt="lagarto" width="50" class="img-fluid">
                        <span class="fw-bold">lagarto</span>
                    </button>
                    <button class="btn btn-outline-success">
                        <img src="static/img/spock.png" alt="spock" width="50" class="img-fluid">
                        <span class="fw-bold">spock</span>
                    </button>
                </div>
            </div>
            <div class="col py-5 text-center">
                <h2>ChatGPT</h2>
                <p class="fw-bold" id="computer_score">0</p>
                <div class="card p-3">
                    <div class="d-felx justify-content-center">
                        <img src="static/img/ChatGPT.png" id="img_computer" alt="chatGpt" width="350" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <h1>Resumen</h1>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" id="player_choice">El jugador eligió ROCK</li>
                <li class="list-group-item" id="computer_choice">ChatGpt eligó Spock</li>
                <li class="list-group-item" id="round_result">Chat GPT WINNER!!!!</li>
                <li class="list-group-item" id="round_message">Mensaje jajaja!</li>
            </ul>
        </div>
        <div class="row text-center">
            <div class="col py-3">
                <a href="/new" class="btn btn-success btn-lg"> Nuevo juego</a>
            </div>
        </div>
    </div>
</section>
{{ end }}