{{ template "base" . }}

{{ define "title" }} RPS - Inicio {{ end }}

{{ define "content" }}

<section class="container py-5">
    <h1 class="display-4 fw-bold py-3 text-center"> PIEDRA, PAPEL, TIEJERA, LARGATO, SPOCK</h1>
    <div class="container mt-5">
        <img src="static/img/piedra-papel-tijera-lagarto-spock.png" alt="Imagen" class="img-fluid mx-auto d-block mt-3">
    </div>
    <p class="text-center"> 
        <a href="/new" class="btn btn-success btn-lg">JUGAR </a>
    </p>
</section>

{{ end }}